footer{
    width: 100%;
    padding: 2rem 8%;
    background-color: rgba(25, 86, 155, 0.281);
    display: flex;
    flex-direction: column;
}

.social-icon-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: white;
    border: 1px solid whitesmoke;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
 background-color: rgb(50, 115, 255);    
}

.social-icon:nth-of-type(1){
    background-image: url(../logo/github-logo.svg);
}

.social-icon:nth-of-type(2){
    background-image: url(../logo/twitter-logo.svg);
}
.social-icon:nth-of-type(3){
    background-image: url(../logo/facebook-logo.svg);
}

.social-icon:nth-of-type(4){
    background-image: url(../logo/mail-logo.svg);
}

.footer-menu-container{
    list-style-type: none;
    color: antiquewhite;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: darkgray;
    opacity: 0.5;
    text-align: center;
}

