:root{
  --azul:#134074;
  --azulOscuro:#0B2545;
  --azulGris:#8DA9C4;
  --blanco:#fff;
  --fuente:'Quicksand',BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s;
 }

 html{
  background-color: var(--azulOscuro);
 }

 .container-logo{
   margin: auto;
   width: 25rem;
 }

 header{
  margin: 0 5rem;
 }

nav{
  height: 60px;
  background-color:#dfdfdf;
  text-align: center;
  margin: 0 1rem 0 1rem;
}

.nav-bar-container{
  border-radius: 10px;
}

nav ul{
   list-style: none;
   display: inline-block;
   padding:18px;
}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover{
  background-color: #48d4ff;
}

.navbar-burger{
  color: var(--blanco);
  border-radius: 10px;
}
.navbar-burger span {
  background-color: var(--azulOscuro);
}

a:hover{
  color: var(--azulGris);
}

.navbar-link:hover{
  color: rgb(0, 0, 0);
}

.logo-perfil{
  width: 5rem;
}

.navbar-item {
  color: black;
}

@media (max-width: 1023px) {
  .navbar-link{
      display: none;
  }
}