:root{
  --azul:#134074;
  --azulOscuro:#0B2545;
  --azulGris:#8DA9C4;
  --blanco:#fff;
  --fuente:'Quicksand', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html{
  background-color: var(--azulOscuro);
 }
 

 header{
   background-color: #F9F8FC;
 }

 .container-logo{
   margin: auto;
   height: 250px;
   width: 320px;
   text-align: center;
 }

 

nav{
  height: 60px;
  background-color:#dfdfdf;
  text-align: center;
}

.nav-bar-container{
  background-color: var(--azul);
}

nav ul{
   list-style: none;
   display: inline-block;
   padding:18px;
}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover{
  background-color: #48d4ff;
}