:root{
  --azul:#134074;
  --azulOscuro:#0B2545;
  --azulGris:#8DA9C4;
  --blanco:#fff;
  --fuente:'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
 }

 html{
  background-color: var(--azulOscuro);
 }

 .container-logo{
   margin: auto;
   width: 320px;
   text-align: center;
 }

nav{
  height: 60px;
  background-color:#dfdfdf;
  text-align: center;
  margin: 0 1rem 0 1rem;
  border-radius: 10px;
}

.nav-bar-container{
  border-radius: 10px;
}

nav ul{
   list-style: none;
   display: inline-block;
   padding:18px;
}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover{
  background-color: #48d4ff;
}

.navbar-burger{
  color: var(--blanco);
}
.navbar-burger span {
  background-color: var(--azulOscuro);
}

a:hover{
  color: var(--azulGris);
}



.navbar-link{
  border-radius: 10px;
  background-color: var(--blanco);
}

.navbar-link:hover{
  color: rgb(216, 27, 27);
}



.logo-perfil{
  width: 5rem;
}

.navbar-item {
  color: black;
}
