:root{
  --azul:#134074;
  --azulOscuro:#0B2545;
  --azulGris:#8DA9C4;
  --blanco:#fff;
  --fuente:'Quicksand', sans-serif;
}

*{
  transition: 0.6s;
}

.normativaopciones {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: var(--azul);
    
}

 .item{
  background-color: var(--azul);
  
  /* display: flex;
  justify-content: center;
  align-items: center; */
 }

 .container-blue{
  background-color: var(--azul);
  padding: 2rem;
  width: fit-content;
  border-radius: 10px;
  margin: 2rem;

}

.button-transparent{
  background-color: transparent;
  border: none;
  width: 100%;
}
 
.hoverable:hover, h4:hover{
  background-color: var(--azulGris);
}

 .modal button:hover{
  background-color: rgb(172, 187, 196);
 }

  /* color change on hover */
  li a:hover {
    background-color: var(--azulGris);
  }

  .icon {
    margin-right: 10px;
  }
  

 

  