:root{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
}
html{
    background-color: var(--azulOscuro);
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    background-color: var(--azulOscuro);
    font-family: var(--fuente);
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction:column;
}


.container-main{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 50rem;
    border-radius: 10px;
}



.field.is-grouped{
    justify-content: center;
}

.container-form{
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--azul);
}

.button{
    border-color: rgba(255, 255, 255, 0);
}

@media (max-width: 510px) {
    .container-main{
        width: fit-content;
    }
}

.logo-add{
    width: 2.5rem;
}