:root{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
}

html{
    background-color: var(--azulOscuro);
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    background-color: var(--azulOscuro);
    height: 100vh;
    flex-direction:column;
}

.modal-content, .container-main{
    display: flex;
    justify-content: center;
}

.container-blue{
    background-color: var(--azul);
    padding: 2rem;
    width: fit-content;
    border-radius: 10px;
    margin: 2rem;
}

.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.field.is-grouped{
    justify-content: center;
}

.button{
    border: none;
    background-color: transparent;
}

.span-add{
    white-space: nowrap; 
  font-size: 0.7rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay{
    position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-radius: 1.5rem;
  background-color: #139551;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.button-add:hover .overlay{
    bottom: 0;
    height: 100%;
}

.button-add{
    padding: 0;
}

.logo-add{
    width: 2.5rem;
}

.image-delete{
    width: 5rem;
}

@media (max-width: 510px) {
    body{
        width: fit-content;
    }
}