:root{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
}
html{
    background-color: var(--azulOscuro);
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    background-color: var(--azulOscuro);
    font-family: var(--fuente);
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction:column;
}


.contenedor{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 50rem;
    border-radius: 10px;
}

abbr{
    text-decoration: none;
}


@media(min-width:768px){
    
.formulario{
    padding: 50px;
    width: 100%;
}

.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: var(--blanco);
}
.texto-formulario h2{
    font-size: 40px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.password-olvidada a{
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}
.input input[type="submit"]{
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--azulOscuro);
}

}

@media(max-width:977px){
    .is-grouped{
        flex-direction: column;
        
    }
    div.control.grouped{
        margin-bottom: 1rem !important;
    }
}
.logo-agregar{
    width: 2.5rem;
    
  }

 


  .logo-agregar-carpeta{
    width: 50ox;
    height: 50px;
  }

.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}