:root{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
}

html{
    background-color: var(--azulOscuro);
}

main{
    display: flex;
    justify-content: center;
}

.container-main{
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--azul);
}

.container-form{
    background-color: var(--azul);
    margin: 2rem auto;
    padding: 2rem;
    width: max-content;
    border-radius: 10px;
}

.button{
    border-color: rgba(255, 255, 255, 0);
}

.contenedor .field.is-grouped{
    display: flex;
    justify-content: center;
}

.container-table{
    display: flex;
    flex-direction: column;
    width: fit-content;
}


.modal-content{
    background-color: var(--azul);
    padding: 2rem;
    border-radius: 15px;
}

@media(max-width:560px){
    main{
        width: fit-content;
    }
}