:root{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
}

html{
    background-color: var(--azulOscuro);
}

.modal-content, .container-main{
    display: flex;
    justify-content: center;
}



.container-blue{
    background-color: var(--azul);
    padding: 2rem;
    width: fit-content;
    border-radius: 10px;
    margin: 2rem;
}

.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button{
    border-color: rgba(255, 255, 255, 0);
}

.image-delete{
    width: 5rem;
}

.field.is-grouped{
    display: flex;
    justify-content: center;
}

.container-table{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@media(max-width:560px){
    body{
        width: fit-content;
    }
}