:root{
  --azul:#134074;
  --azulOscuro:#0B2545;
  --azulGris:#8DA9C4;
  --blanco:#fff;
  --fuente:'Quicksand', sans-serif;
}

*{
  transition: 0.6s;
}

html{
  background-color: var(--azulOscuro)
}

.contenedor{
  background-color: var(--azul);
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    width: 80%;
    border-radius: 10px;
}

.titulo{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.title-item{
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

.logo-agregar{
  width: 50ox;
  height: 50px;
}


.container{
  
  display: flex;
  justify-content: center;
}

.table{
  
  background-color: var(--azulGris) ;
}


